<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bank Managament</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
</head>

<body>
    <div style="margin-top: 50px;" class="ui container">
        <h1 class="ui center aligned header">Bank Management</h1>
        <H2>Add Account Bank</H2>
        <form class="ui form" action="/add" method="post">
            <div class="field">
                <label>Name</label>
                <input type="text" name="name" placeholder="Enter Name."><br>
                <label>Account Number</label>
                <input type="text" name="acc_no" placeholder="Enter Account Number."><br>
                <label>Balance</label>
                <input type="text" name="balance" placeholder="Enter Balance:"><br>
            </div>
            <button class="ui blue button" type="submit">Add</button>
        </form>

        <hr>
        <h2>Account List</h2>
        <table class="table table-hover" style="margin-top: 10px;">
          <thead class="thead-light">
            <tr>
              <th scope="col"> Name</th>
              <th scope="col"> ACC No</th>
              <th scope="col"> Balance</th>
                <th></th>
                <th></th>
            </tr>
          </thead>
          <tbody>
          {% for item in acc_list %}
            <tr>
              <td>{{ item.name }}</td>
              <td>{{ item.acc_no }}</td>
              <td>{{ item.balance }}</td>
              <td><a class="ui blue button" href="/deposit/{{ item.id }}">Deposit</a></td>
              <td><a class="ui red button" href="/withdraw/{{ item.id }}">Withdraw</a></td>
            </tr>

          {% endfor %}
          </tbody>
        </table>
    </div>
</body>

</html>