USE [master]
GO
/****** Object:  Database [ex4]    Script Date: 4/21/2022 10:15:08 AM ******/
CREATE DATABASE [ex4]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ex4', FILENAME = N'D:\app\SQL 2019\MSSQL15.MSSQLSERVER\MSSQL\DATA\ex4.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ex4_log', FILENAME = N'D:\app\SQL 2019\MSSQL15.MSSQLSERVER\MSSQL\DATA\ex4_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ex4].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ex4]
GO
/****** Object:  Table [dbo].[checking_account]    Script Date: 4/21/2022 10:15:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[checking_account](
	[acc_id] [int] IDENTITY(1,1) NOT NULL,
	[customer_id] [int] NOT NULL,
	[acc_no] [nvarchar](50) NOT NULL,
	[balance] [int] NOT NULL,
	[link_code] [int] NOT NULL,
 CONSTRAINT [PK_checking_account] PRIMARY KEY CLUSTERED 
(
	[acc_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[customer]    Script Date: 4/21/2022 10:15:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[customer](
	[customer_id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](50) NOT NULL,
	[acc_quantity] [int] NOT NULL,
 CONSTRAINT [PK_customer] PRIMARY KEY CLUSTERED 
(
	[customer_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[saving_account]    Script Date: 4/21/2022 10:15:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[saving_account](
	[acc_id] [int] IDENTITY(1,1) NOT NULL,
	[customer_id] [int] NOT NULL,
	[acc_no] [nvarchar](50) NOT NULL,
	[balance] [int] NOT NULL,
	[interest_rate] [int] NOT NULL,
	[link_code] [int] NOT NULL,
 CONSTRAINT [PK_saving_account] PRIMARY KEY CLUSTERED 
(
	[acc_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[customer] ON 

INSERT [dbo].[customer] ([customer_id], [name], [acc_quantity]) VALUES (3, N'Vu Dinh Linh', 0)
SET IDENTITY_INSERT [dbo].[customer] OFF
GO
USE [master]
GO
