<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bill Detail</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
</head>

<body>
    <div style="margin-top: 50px;" class="ui container">
        <h1 class="ui center aligned header">Bill Detail</h1>
        <H2>Bill Information</H2>
        {% for item in bill_info %}
            <H4>{{ item.bill_id }}</H4>
            <H4>{{ item.customer_id }}</H4>
            <h4>{{ item.time }}</h4>
        {% endfor %}
        <h2>Product List</h2>
        <table border="1" style="margin-top: 10px; ">
          <thead class="thread-light">
            <tr>
                <th> Bill ID</th>
                <th> Product ID</th>
                <th> Quantity</th>
            </tr>
          </thead>
          <tbody>
          {% for item in bill_detail_info %}
            <tr>
                <td>{{ item.bill_id }}</td>
                <td>{{ item.product_id }}</td>
                <td>{{ item.quantity }}</td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
    </div>
</body>

</html>