<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Customer</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
</head>
<body>
    <div style="margin-top: 50px;" class="ui container">
        <h1 class="ui center aligned header">Product Management</h1>
        <H3>Add Customer</H3>
        <form class="ui form" action="/Customer/add" method="post">
            <div class="field">
                <label>Name</label>
                <input type="text" name="name" placeholder="Enter Name."><br>
                <label>Category</label>
                <input type="text" name="phone" placeholder="Enter Phone Number."><br>
            </div>
            <button class="ui blue button" type="submit">Add</button>
        </form>

        <hr>
        <h2>Customer List</h2>
        <table border="1" style="margin-top: 10px; ">
          <thead class="thread-light">
            <tr>
                <th> Customer ID</th>
                <th> Name</th>
                <th> Phone</th>
                <th></th>
                <th></th>
            </tr>
          </thead>
          <tbody>
          {% for item in cus_list %}
            <tr>
                <td>{{ item.customer_id }}</td>
                <td>{{ item.customer_name }}</td>
                <td>{{ item.phone }}</td>
                <td><a class="ui blue button" href="">Update</a></td>
                <td><a class="ui red button" href="">Delete</a></td>
            </tr>

          {% endfor %}
          </tbody>
        </table>
    </div>
</body>
</html>