<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sale Management</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>


    <!-- Googel fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600&display=swap"
        rel="stylesheet">


</head>


<body>
    <div style="margin-top: 50px;" class="ui container">
        <h1 class="ui center aligned header">Sale Management</h1>
        <nav>
        <div class="links">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/Product">Product</a></li>
                <li><a href="/Customer">Customer</a></li>
                <li><a href="/Bill">Bill</a></li>
            </ul>
        </div>
    </nav>

    </div>
</body>

</html>